<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='/static/img/vilgax_icon.png'>
    <title>Vilgax Il Conquistatore</title>
    <link rel="stylesheet" href="/static/vilgax.css">
</head>

<center>
<div>
    <h3>Prega all'unica divinità che possiede la tua anima, Vilgax!</h3>
    <form action="new_preghiera" method="post">
        <label for="titolo_preg">Titolo della preghiera:</label>
        <input type="text" id="titolo_preg" name="titolo_preg">
        <br>
        <br>
        <label for="testo_preg">Testo della preghiera:</label><br>
        <textarea type="textarea" id="testo_preg" name="testo_preg" rows='6' cols='80'></textarea>
        <br>
        <br>
        <input type="submit" value="Inoltra la tua preghiera!">
    </form><br>
</div>
</center>