<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='/static/img/vilgax_icon.png'>
    <title>Vilgax Il Conquistatore</title>
    <link rel="stylesheet" href="/static/vilgax.css">
</head>

<body>
    <center>
        <h2>Sei già prenotato per Vilgax, non puoi sacrificare la tua anima due volte, ne hai solo una!</h2>
        <br>
        <a href="/">
        <img src="/static/img/Desperate-Emoji.png" alt="sad" width="825.0" height="434.0">
        </a>
    </center>
</body>