{% extends 'base.html' %}

{% block content %}
    <center>
    <div>
        <h3>Invia preghiere all'unica divinità che possiede la tua anima, Vilgax!</h3>
        <hr>
        <form action="new_preghiera" method="post">
            <label for="titolo_preg">Titolo della preghiera:</label>
            <input type="text" id="titolo_preg" name="titolo_preg">
            <br>
            <br>
            <label for="testo_preg">Testo della preghiera:</label><br><br>
            <textarea type="textarea" id="testo_preg" name="testo_preg" rows='6' cols='80'></textarea>
            <br>
            <br>
            <input type="submit" value="Inoltra la tua preghiera!">
        </form><br>
    </div>
    <br><br><hr><br>
    <div>
        <h1>Preghiere</h1><br>
            <a href="/alt_ko">
                <img src="/static/img/pray_emoji.png" alt="pray" width="125.0" height="134.0">
            </a>
            <br><br><h3>Da Esaudire:</h3>
                <table class="stile2">
                <thead>
                    <tr class="table100-head">
                    <th class="column1">Titolo</th>
                    <th class="column2">Testo della Preghiera</th>
                    </tr>
                </thead>
            {% for preghiera in da_esaudire %}
                <tbody>
                    <tr>
                        <td class="column1">{{ preghiera.titolo }}</td>
                        <td class="column2">{{ preghiera.testo }}</td>
                    </tr>
                <br>
            {% endfor %}
                </tbody>
                </table>
            <br><br><h3>Esaudite:</h3>
                <table class="stile2">
                <thead>
                    <tr class="table100-head">
                    <th class="column1">Titolo</th>
                    <th class="column2">Testo della Preghiera</th>
                    </tr>
                </thead>

            {% for preghiera in esaudite %}
                <tbody>
                    <tr>
                        <td class="column1">{{ preghiera.titolo }}</td>
                        <td class="column2">{{ preghiera.testo }}</td>
                    </tr>
                <br><br><br>
            {% endfor %}
            </tbody>
            </table>
    </div>
    </center>
{% endblock %}