{% extends 'base.html' %}

{% block content %}
    <center>
    <div>
        <h3>Cerca con Vilgax! Inserisci il Codice Utente e verifica se la sua recensione è presente del nostro database!</h3>
        <hr>
        <form action="list_reviews" method="POST">
            <label for="cf">Codice Utense associato:</label>
            <input type="text" id="cf" name="CF"><br><br>
            <input type="submit" value="Cerca!">
        </form><br>
    </div>
    <br><br>
    <div>
        {% if searched == True %}
            {% if recensione != None %}
            <h2>Recensioni trovata, eccola qui!</h2><br>
                <table class="stile2">
                    <tbody>
                        <tr>
                            <td class="column1"> {{ recensione.testo }} </td>
                            <td class="column2"> {{ recensione.voto }} </td>
                        </tr>
                    <br>
                    </tbody>
                </table>
            {% else %}
                <h2>Spiacenti, nessuna recensione è associata a tale codice utente!</h2>
            {% endif %}
        {% endif %}
    </div>
    </center>
{% endblock %}