{% extends 'base.html' %}

{% block content %}
    <div>
        <center>
        <h1>Sacrificate la vostra anima a Vilgax, il Conquistatore!</h1>
        <p>
            <h3>Le opzioni a voi rimanenti sono due:</h3>
            <table class="stile1">
                <tr>
                    <td>Offrire a Vilgax la vostra anima immortale</td>
                    <td>|</td>
                    <td>Aspettare che venga lui a prendersela</td>
                </tr>
            </table>
            <br>
            <div>
            <a href="https://eelslap.com/">
                <img src="/static/img/vilgax_the_conqueror.png" alt="Vilgax" width="525.0" height="834.0">
            </a>
            <hr>
            <h2>Offrendo la vostra anima a Vilgax, otterrete i seguenti benefici:</h2>
            <ul>
                <li>Zero tasse, zero problemi!</li>
                <li>Non vi dovrete più preoccupare del lavoro!</li>
                <li>Non avrete mai più malattie e quelle che avete ora termineranno!</li>
                <li>Avrete in omaggio uno splendido ᕱ۝Ӂ۩۞෴༒ ornamentale!</li>
            </ul>
            <h4>
                Unisciti anche tu alla crescente comunità di umani al servizio eterno di Vilgax!<br>
                Ecco i nostri ultimi cinque adepti:
            </h4>
            <table class="stile2">
                <thead>
                <tr class="table100-head">
                <th class="column1">Codice Utente</th>
                <th class="column2">Nome</th>
                <th class="column3">Cognome</th>
                <th class="column4">Recensione Utente</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="column1">{{ review1.id }}</td>
                    <td class="column2">{{ review1.nome }}</td>
                    <td class="column3">{{ review1.cognome }}</td>
                    <td class="column4">{{ review1.voto }}</td>
                </tr>
                <tr>
                    <td class="column1">{{ review2.id }}</td>
                    <td class="column2">{{ review2.nome }}</td>
                    <td class="column3">{{ review2.cognome }}</td>
                    <td class="column4">{{ review2.voto }}</td>
                </tr>
                <tr>
                    <td class="column1">{{ review3.id }}</td>
                    <td class="column2">{{ review3.nome }}</td>
                    <td class="column3">{{ review3.cognome }}</td>
                    <td class="column4">{{ review3.voto }}</td>
                </tr>
                <tr>
                    <td class="column1">{{ review4.id }}</td>
                    <td class="column2">{{ review4.nome }}</td>
                    <td class="column3">{{ review4.cognome }}</td>
                    <td class="column4">{{ review4.voto }}</td>
                </tr>
                <tr>
                    <td class="column1">{{ review5.id }}</td>
                    <td class="column2">{{ review5.nome }}</td>
                    <td class="column3">{{ review5.cognome }}</td>
                    <td class="column4">{{ review5.voto }}</td>
                </tr>
                </tbody>
                </table>
            <div>
            <br>
            <button>
                <a href="review_search">Cerchi una recensione che qui non è presente? Ricercane una!</a>
            </button>
            <hr>
            <h3>Offri oggi la tua anima a Vilgax o accedi al tuo piccolo inferno!</h3>
            <form action="login" method="POST">
                <label for="Nome">Nome:</label>
                <input type="Nome" id="nome" name="Nome" required>
                <label for="Cognome">Cognome:</label>
                <input type="Cognome" id="cognome" name="Cognome" required>
                <p>Patatine infernali con o senza paprika:</p>
                <label for="Paprika">Con</label>
                <input type="radio" id="con" name="Paprika" value="con" required>
                <label for="Paprika">Senza</label>
                <input type="radio" id="senza" name="Paprika" value="senza" required>
                <br>
                <br>
                <input type="submit" value="Sacrificati ora!">
            </form><br>
        </p><br>
        </center>
    </div>
{% endblock %}