{% extends 'base.html' %}

{% block content %}
    <div>
        <center>
        <h1>Sacrificate la vostra anima a Vilgax, il Conquistatore!</h1>
        <p>
            <h2>Ecco l'ultima foto di uno dei nostri fedeli adepti:</h2>
            <br>
            <div>
            <a href="/">
            <img src="/static/img/michelone_recensione.jpg" alt="MicheloneRecensione" width="720.0" height="720.0">
            </a>
            <br>
            <h3>Michele da al nostro servizio 4 stelle! Ecco la sua recensione!</h3>
            <hr>
            <h1>"Davvero organizzato bene, tuttavia non c'erano le patatine alla paprika, pessima scelta"</h1>
        </p><br>
        </center>
    </div>
{% endblock %}